<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<head>
<script>
$("#posto").on("change", function (e) {
	$.ajax({
    url: "../posto_ajax",
    method: "POST",
    data: { posto: $(this).val() },
    dataType: "json",
    success: function (response) {
      if (response) {
        $("#funcao option:not(:disabled)").remove();
        $.each(response, function(index, option) {
        	console.log("option: "+option)
        	$("#funcao").append('<option value="'+ option.id +'">'+ option.value +'</option>') 
        });
      }
    }
  });
});
</script>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>
							Escala
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<a class="btn btn-secondary" th:href="@{/escala}">
				<i class="fa fa-table"></i>
				<span class="hidden-xs hidden-sm">Voltar</span>
			</a>	
				
    	</div>
    	
    	<div class="form-group">
			<div calss="row">
			  <div class="form-group col-xs-10">
				<form method="post" th:action="@{/escala/detalhe/add}" th:object="${escala}" >
				<input type="hidden" th:field="*{id}" id="id"/>
				<label>Aluno: </label>
				<select name="aluno">
        			<option th:each="aluno : ${alunos}"
               				th:value="${aluno.id}"
               				th:text="${aluno.nome}" />
   				</select>
				<label>Posto de Serviço: </label>					
				<select name="posto">
        				<option th:each="posto : ${postos}"
               				 th:value="${posto.id}"
               				 th:text="${posto.nome}" />
   				</select>
   				<label>Função: </label>
				<select name="funcao">
        				<option th:each="funcao : ${funcoes}"
               				 th:value="${funcao.id}"
               				 th:text="${funcao.nome}" />
   				 </select>
   				<input type="submit" value="Incluir" />
				</form>
			</div>
    	</div>
    	</div>
    	<div class="row">
    	 
    	</div>
    	
		<div class="form-group">
		<div class="container-fluid">
			<form method="POST" class="form-vertical  js-form-loading"
				th:object="${escala}" th:action="@{/escala/novo}">
				<div class="alert  alert-danger  alert-dismissible" role="alert"
						th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>
						
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
				</div>

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span th:text="${mensagem}">Mensagem sucesso!</span>
					</button>

				</div>
				</div>
				
				<div class="col-xs-2">
					<div class="form-group">
						<label for="turma">Data</label>
						<div> 
							<td th:text="${#dates.format(escala.dataInicio, 'dd/MM/yyyy')}"</td>
						</div>
						<label for="grupoServico">Grupo</label>
						<input type="hidden" id="grupoServicoId" value="${escala.grupoServico.id}" />
						
						<td id="grupoServico" type="text" class="form-control" 
							th:text="${escala.grupoServico.letra}" ></td>
						
					</div>
					<div>
					<div class="">
				<a class="btn btn-primary" th:href="@{/escala/detalhe/repEscala/{id}(id=${escala.id})}" >
					<i class="fa fa-plus-square"></i>
					<span class="hidden-xs hidden-sm">Imprimir</span>
				</a>
			</div>	
					</div>
				</div>
			</form>		
				<div class="form-group col-xs-8 table-responsive">
				
				<tbody>
				<table id="tabela-grupos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">		
					<thead class="aw-table-header-solid">
							<tr>
								<th>Função</th>
								<th>GH</th>
								<th>Nome Guerra</th>
								<th>Nome</th>
								<th>Nº</th>
								<th>Turma</th>
							</tr>
						</thead>
					<tr th:each="int : ${integrantes}">
						<td th:text="${int.funcao.nome}" >
							</td>
						<td>AL OF PM</td>
						<td th:text="${int.aluno.nomeGuerra}" >
							</td>
						<td th:text="${int.aluno.nome}" >
							</td>
						<td	th:text="${int.aluno.numero}" >
							</td>
						
						<td th:text="${int.aluno.turma}" >
							</td>
						<td>
							<div class="btn-group pull-right">
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/escala/detalhe/delete/{id}(id=${int.id})}">-</a>
							   </div>
						</td>				
						</tr>
							<tr th:if="${integrantes.empty}">
								<td colspan="4">Nenhum aluno escalado</td>
							</tr>
					</table>
					
				<table id="tabela-pav-a" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<caption>Sentinela do Pavilhão A</caption>
					<thead class="aw-table-header-solid">
							<tr>
								<th>Posto</th>
								<th>GH</th>
								<th>Nome Guerra</th>
								<th>Nome</th>
								<th>Nº</th>
								<th>Turma</th>
							</tr>
						</thead>
					<tr th:each="intA : ${integrantesPavA}">
						<td th:text="${intA.funcao.nome}" >
							</td>
						<td>AL OF PM</td>
						<td th:text="${intA.aluno.nomeGuerra}" >
							</td>
						<td th:text="${intA.aluno.nome}" >
							</td>
						<td	th:text="${intA.aluno.numero}" >
							</td>
						
						<td th:text="${intA.aluno.turma}" >
							</td>
						<td>
							<div class="btn-group pull-right">
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/escala/detalhe/delete/{id}(id=${intA.id})}">-</a>
							   </div>
						</td>					
						</tr>
							<tr th:if="${integrantes.empty}">
								<td colspan="4">Nenhum aluno escalado</td>
							</tr>
					</table>
					
				<table id="tabela-pav-b" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<caption>Plantão do Pavilhão B1 Térreo</caption>
					<thead class="aw-table-header-solid">
							<tr>
								<th>Posto</th>
								<th>GH</th>
								<th>Nome Guerra</th>
								<th>Nome</th>
								<th>Nº</th>
								<th>Turma</th>
							</tr>
						</thead>
					<tr th:each="intB : ${integrantesPavB}">
						<td th:text="${intB.funcao.nome}" >
							</td>
						<td>AL OF PM</td>
						<td th:text="${intB.aluno.nomeGuerra}" >
							</td>
						<td th:text="${intB.aluno.nome}" >
							</td>
						<td	th:text="${intB.aluno.numero}" >
							</td>
						
						<td th:text="${intB.aluno.turma}" >
							</td>
						<td>
							<div class="btn-group pull-right">
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/escala/detalhe/delete/{id}(id=${intB.id})}">-</a>
							   </div>
						</td>				
						</tr>
							<tr th:if="${integrantes.empty}">
								<td colspan="4">Nenhum aluno escalado</td>
							</tr>
					</table>
			
				<table id="tabela-pav-d" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<caption>Plantão do Pavilhão D</caption>
					<thead class="aw-table-header-solid">
							<tr>
								<th>Posto</th>
								<th>GH</th>
								<th>Nome Guerra</th>
								<th>Nome</th>
								<th>Nº</th>
								<th>Turma</th>
							</tr>
						</thead>
					<tr th:each="intD : ${integrantesPavD}">
						<td th:text="${intD.funcao.nome}" >
							</td>
						<td>AL OF PM</td>
						<td th:text="${intD.aluno.nomeGuerra}" >
							</td>
						<td th:text="${intD.aluno.nome}" >
							</td>
						<td	th:text="${intD.aluno.numero}" >
							</td>
						
						<td th:text="${intD.aluno.turma}" >
							</td>
						<td>
							<div class="btn-group pull-right">
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/escala/detalhe/delete/{id}(id=${intD.id})}">-</a>
							   </div>
						</td>				
						</tr>
							<tr th:if="${integrantes.empty}">
								<td colspan="4">Nenhum aluno escalado</td>
							</tr>
					</table>
					
				
				<table id="tabela-pav-r" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
					<caption>Reservas do Serviço</caption>
					<thead class="aw-table-header-solid">
						<tr>
							<th>GH</th>
							<th>Nome Guerra</th>
							<th>Nome</th>
							<th>Nº</th>
							<th>Turma</th>
						</tr>
					</thead>
					<tr th:each="intR : ${integrantesPavR}">
						<td>AL OF PM</td>
						<td th:text="${intR.aluno.nomeGuerra}" >
							</td>
						<td th:text="${intR.aluno.nome}" >
							</td>
						<td	th:text="${intR.aluno.numero}" >
							</td>	
						<td th:text="${intR.aluno.turma}" >
							</td>
						<td>
							<div class="btn-group pull-right">
							   	<a class="delete btn btn-sm btn-danger" th:href="@{/escala/detalhe/delete/{id}(id=${intR.id})}">-</a>
							 </div>
						</td>				
						</tr>
							<tr th:if="${integrantes.empty}">
								<td colspan="4">Nenhum aluno escalado</td>
							</tr>
					</table>
					
				</tbody>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
